---
import "../lib/global.css";
import Head from "../components/head.astro";

const { title } = Astro.props;
---

<html lang="en">
    <Head title={title} />
    <body>
        <main>
            <slot />
        </main>
    </body>
</html>
