---
import Site from "../lib/site.astro";
export const title = "image-rendering for pixelart";
---

<Site title={title}>
    <section class="one-to-one">
        <h1>Test: image-rendering for pixelart</h1>
        <h1>1:1</h1>
        <h2>Smooth</h2>
        <img class="smooth" src="/assets/render-tester.png" />
        <h2>Crisp-Edges</h2>
        <img class="crisp" src="/assets/render-tester.png" />
        <h2>Pixelated</h2>
        <img class="pixel" src="/assets/render-tester.png" />
    </section>
    <section class="twice">
        <h1>2x</h1>
        <h2>Smooth</h2>
        <img class="smooth" src="/assets/render-tester.png" />
        <h2>Crisp-Edges</h2>
        <img class="crisp" src="/assets/render-tester.png" />
        <h2>Pixelated</h2>
        <img class="pixel" src="/assets/render-tester.png" />
    </section>
    <section class="eight-to-one">
        <h1>Manually scaled to 8x, then downscaled with CSS</h1>
        <h2>Smooth</h2>
        <img class="smooth" src="/assets/render-tester-8.png" />
        <h2>Crisp-Edges</h2>
        <img class="crisp" src="/assets/render-tester-8.png" />
        <h2>Pixelated</h2>
        <img class="pixel" src="/assets/render-tester-8.png" />
    </section>
    <section class="one-to-canvas">
        <h1>1:1, but rendered with Canvas</h1>
        <canvas id="canvas" width="256" height="128"
            >image-rendering pixelart tester</canvas
        >
    </section>
</Site>

<style is:global>
    body {
        overflow-x: auto;
        padding: 3rem;
    }
    section {
        margin-top: 4rem;
    }
    section:first-of-type {
        margin-top: 0;
    }
    h1:first-of-type {
        margin-bottom: 2rem;
    }
    h1 {
        color: #0000cc;
    }
    h2 {
        margin-top: 2rem;
    }
    .one-to-one img {
        width: 256px;
        height: 128px;
    }
    .twice img {
        width: 512px;
        height: 256px;
    }
    .eight-to-one img {
        max-width: 256px;
        height: 128px;
    }
    .smooth {
        image-rendering: smooth;
    }
    .crisp {
        image-rendering: crisp-edges;
    }
    .pixel {
        image-rendering: pixelated;
    }
    #canvas {
        image-rendering: pixelated;
    }
</style>

<script is:inline>
    const ctx = document.getElementById("canvas").getContext("2d");
    ctx.scale(1, 1);

    const image = new Image();
    image.onload = () => {
        ctx.drawImage(image, 0, 0, 256, 128);
    };
    image.src = "/assets/render-tester.png";
</script>
